.aboutPage{
  display: flex;
  justify-content: center;
  
}

.aboutMeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  padding: 2rem;
  text-align: center;
}


