.projectPage {
  width: 100%;
  max-width: 1200px;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem; /* prevents edge hugging on mobile */
  padding-right: 1rem;
}
