.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  margin-top: 1rem;
}

.contactMe {
  position: relative;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  border: none;

  font-size: 0.7rem;
  padding: 0.6rem;
  cursor: pointer;
}

.cvButton {
  position: relative;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  border: none;

  font-size: 0.7rem;
  padding: 0.6rem;
  cursor: pointer;
}
.light {
  background-color: black;
  color: white;
  border: solid 0.01px;
  border-color: rgb(230, 230, 230);
}

.dark {
  background-color: #00dea7;
  color: rgb(0, 0, 0);
}

.gitHubButton {
  position: relative;
  justify-self: center;
  display: flex;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: solid 0.01px;
  border-color: rgb(230, 230, 230);
  background-color: white;
  cursor: pointer;
}
