.ContactForm {
  display: flex;
  /*border: solid lime 2px;*/
  justify-content: center;
  width: 90%;
  margin: 2rem auto 0 auto;
  padding: 2rem;
}

.contactFormContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 400px;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
  width: 100%;
  /*border: solid lime 2px;*/
}

.contactFormHeader {
  display: flex;
  flex-direction: column;
  text-align: center;
  /*border: solid 1px limegreen;*/
}

.contactMeText {
  font-size: clamp(1rem, 2vw, 2rem);
}

.contactMeInstructions {
  font-size: clamp(0.75rem, 2vw, 1rem);
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 0.5rem;
}

.textBox {
  resize: none;
  height: 120px;
}
