.darkModeContainerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.DarkModeButton {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  justify-content: center;
  display: flex;
  align-items: center;
  border: none;
}

.DarkModeButton:hover {
  cursor: pointer;

  border-radius: 5px;
  background-color: rgb(234, 243, 252, 0.5);
}

.menu {
  display: none;
  gap: 1rem;
  align-items: center;
  margin-top: 0.5rem;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 2rem;
  padding: 2rem;
  border-radius: 0.6rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.menu.open {
  display: flex;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    margin-top: 1rem;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    padding: 1rem;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .open {
    display: flex;
  }
}
