

.outerContainer{
    position: relative;
    display: flex;
    justify-self: center;
    margin-top: 2rem;
    
    height: 10rem;
    
    width: 35%;
    
    font-size: clamp(1rem, 2vw, 2rem);
    z-index: 0;
    
}


.aboutMe{
    font-weight: bold;
    text-align: center;
   
    
   
}



