.navParent {
  display: flex;
  justify-content: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 85%;
  max-width: 1200px; /* or 1100px, 1280px, etc. */
  border-radius: 0.6rem;
  position: relative;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  will-change: transform;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}
.logoButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.2rem;
  text-decoration: none;

  color: inherit;
  order: 3;
  width: 2rem;
  height: 2rem;
  line-height: 1;
}

.menu {
  gap: 1rem;
  padding: 1rem;
}

.divRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .toggle:hover {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    background-color: rgb(234, 243, 252, 0.5);
  }

  .nav {
    width: 100%;
    z-index: 999;
  }
  .menu {
    display: none;
    margin-top: 1rem;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .open {
    display: flex;
  }
}
